<%= form_for(@song_info) do |f| %>
  <% if @song_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song_info.errors.count, "error") %> prohibited this song_info from being saved:</h2>

      <ul>
      <% @song_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :artist %><br>
    <%= f.text_field :artist %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
